/* Variables */

:root {
  --rythm: 0.5rem;
  --nav-width: 240px;
  --article-width: 640px;
}

/* Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Layout */

main {
  padding: var(--rythm);
  display: flex;
  gap: var(--rythm);
}

article {
  width: 100%;
  flex-grow: 5;
}

article > * + * {
  margin-top: var(--rythm);
}

nav {
  display: flex;
  flex-direction: column;
  gap: var(--rythm);
  flex-grow: 1;
}

nav > #main-links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rythm);
}

nav > #tag-cloud {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(0.4 * var(--rythm));
}

@media screen and (max-width: 640px) {
  main {
    flex-direction: column;
  }

  nav > #main-links {
    flex-direction: row;
  }
}

@media screen and (min-width: 641px) {
  main {
    flex-direction: row;
  }

  article {
    margin: auto;
    max-width: var(--article-width);
  }

  nav > #main-links {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    position: absolute;
    max-width: calc(50vw - 0.5 * var(--article-width) - 2 * var(--rythm));
  }
}
